.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: Aspekta;
  src: url(../public/fonts/ttf/Aspekta-100.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Aspekta;
  src: url("../public/fonts/ttf/Aspekta-100.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Aspekta";
  src: url("../public/fonts/ttf/Aspekta-300.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Aspekta";
  src: url("../public/fonts/ttf/Aspekta-400.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Aspekta";
  src: url("../public/fonts/ttf/Aspekta-500.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Aspekta";
  src: url("../public/fonts/ttf/Aspekta-600.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Aspekta";
  src: url("../public/fonts/ttf/Aspekta-700.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Eudoxus";
  src: url("../public/fonts/ttf/EudoxusSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Eudoxus";
  src: url("../public/fonts/ttf/EudoxusSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Eudoxus";
  src: url("../public/fonts/ttf/EudoxusSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Eudoxus";
  src: url("../public/fonts/ttf/EudoxusSans-Bold.ttf");
  font-weight: 600;
}

/* Common tailwind classes */
.common-underline {
  @apply leading-[1.61rem] underline underline-offset-4 decoration-solid;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slick-track {
  display: block;
}

/* skip mobile */
@media (min-width: 640px) {
  .slick-track {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
  }
}

.custom-bullet {
  list-style: none;
}

.custom-bullet li {
  position: relative;
  padding-left: 1rem;
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center-align the bullet */
}

.custom-bullet li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #4b5563;
  font-size: 0.8rem; /* Adjust bullet size */
}

/* .slick-track > .slick-slide {
  width: fit-content;
} */
